
.jumbotron {

    background-color:yellow;
    color: black;
}


.btn {

    background-color: green;

}

footer { 
    background-color:yellow;
    margin-bottom:0px;
    padding:10px 10px 0 10px;
    margin-top: 20px;  
}

.card-hotel {

flex: 1 150px;
padding:2px 5px 10px 5px;
margin-top: 10px;



}

.btn-reserva{

width: 100%;
left: 0;
bottom: 0;


}